header
nav.navbar.navbar-expand-md.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href="/") AAMM
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

    #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="/") Home           
            
            li.nav-item
                a.nav-link(href="/about") About

            li.nav-item
                a.nav-link(href="/order") Order
            
            li.nav-item
                a.nav-link(href="/complain") Complain
            
        a.btn.btn-outline-primary(href="/login") Login
        a.btn.btn-outline-primary(href="/signup") Sign up
