header
nav.navbar.navbar-expand-sm.navbar-dark.fixed-top.bg-dark
    a.navbar-brand(href="/") AAMM
    button.navbar-toggler(type="button", data-toggle="collapse", data-target="#navbarsExampleDefault", aria-controls="navbarsExampleDefault", aria-expanded="false", aria-label="Toggle navigation")
        span.navbar-toggler-icon

    #navbarsExampleDefault.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item
                a.nav-link(href="/") Home

            li.nav-item
                a.nav-link(href="/about") About

            li.nav-item
                    a.nav-link(href="/order") Order
        ul.navbar-nav
            if accountType == "visitor"
                li.nav-item
                    a.nav-link(href="/profile") Set up account
            else if currentUser
                li.nav-item
                    a.nav-link(href="/profile") Profile
                li.nav-item
                    a.btn.btn-outline-light(href="/logout" style="margin-right: 10px") Log out
            else
                //- .dropdown(style="margin-right: 10px")
                //-     button.btn.btn-secondary.dropdown-toggle(type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Login
                //-     .dropdown-menu(aria-labeledby="dropdownMenuButton")
                //-         a.dropdown-item(href="/login") Customer
                //-         a.dropdown-item(href="/login") Manager
                //-         a.dropdown-item(href="/login") Delivery
                //-         a.dropdown-item(href="/login") Cook

                li.nav-item
                    a.btn.btn-outline-light(href="/login" style="margin-right: 10px") Login
                li.nav-item
                    a.btn.btn-outline-primary(href="/signup") Sign up
