extends layout
block content

  .jumbotron
    .container
      h1.display-4.text-center Choose your address to begin

  .container
    .row.justify-content-center
    
      .col.text-center
        .bd-example-border-utils

          a(href="/stores")
            span.border.border-primary 1-3
            span.border.border-primary 1-3
            span.border.border-primary 1-3
            span.border.border-primary 1-3
            span.border.border-primary 1-3



        .bd-example-border-utils
          a(href="/stores")
            span.border.border-secondary 4-6
            span.border.border-secondary 4-6
            span.border.border-secondary 4-6
            span.border.border-secondary 4-6
            span.border.border-secondary 4-6

        .bd-example-border-utils
          a(href="/stores")
            span.border.border-success  7-9
            span.border.border-success  7-9
            span.border.border-success  7-9
            span.border.border-success  7-9
            span.border.border-success  7-9


        .bd-example-border-utils
          a(href="/stores")
            span.border.border-danger   10
            span.border.border-danger   10
            span.border.border-danger   10
            span.border.border-danger   10
            span.border.border-danger   10
