extends layout
block content

  .jumbotron
    .container
      h1.display-4.text-center Choose your address to begin

  .container
    .row.justify-content-center
      .col.text-center
        .bd-example-border-utils

          a(href="/stores")
            span.border.border-primary 1-3 <br> </br> <br></br> street 1
            span.border.border-primary 1-3 <br> </br> <br></br> street 2
            span.border.border-primary 1-3 <br> </br> <br></br> street 3
            span.border.border-primary 1-3 <br> </br> <br></br> street 4
            span.border.border-primary 1-3 <br> </br> <br></br> street 5



        .bd-example-border-utils
          a(href="/stores")
            span.border.border-secondary 4-6 <br> </br> <br></br> street 6
            span.border.border-secondary 4-6 <br> </br> <br></br> street 7
            span.border.border-secondary 4-6 <br> </br> <br></br> street 8
            span.border.border-secondary 4-6 <br> </br> <br></br> street 9
            span.border.border-secondary 4-6 <br> </br> <br></br> street 10

        .bd-example-border-utils
          a(href="/stores")
            span.border.border-success  7-9 <br> </br> <br></br> street 11
            span.border.border-success  7-9 <br> </br> <br></br> street 12
            span.border.border-success  7-9 <br> </br> <br></br> street 13
            span.border.border-success  7-9 <br> </br> <br></br> street 14
            span.border.border-success  7-9 <br> </br> <br></br> street 15


        .bd-example-border-utils
          a(href="/stores")
            span.border.border-danger   10 <br> </br> <br></br> street 16
            span.border.border-danger   10 <br> </br> <br></br> street 17
            span.border.border-danger   10 <br> </br> <br></br> street 18
            span.border.border-danger   10 <br> </br> <br></br> street 19
            span.border.border-danger   10 <br> </br> <br></br> street 20
