extends layout
block content

  .jumbotron
    .container
      h1.display-4.text-center Choose your address to begin

  .container
    .row.justify-content-center
      .col.text-center
        .bd-example-border-utils
          a(href="/stores")
            span.border.border-primary
            span.border.border-primary
            span.border.border-primary
            span.border.border-primary
            span.border.border-primary
        
        .bd-example-border-utils
          a(href="/stores")
            span.border.border-secondary
            span.border.border-secondary
            span.border.border-secondary
            span.border.border-secondary
            span.border.border-secondary
        
        .bd-example-border-utils
          a(href="/stores")
            span.border.border-success
            span.border.border-success
            span.border.border-success
            span.border.border-success
            span.border.border-success

        .bd-example-border-utils
          a(href="/stores")
            span.border.border-danger
            span.border.border-danger
            span.border.border-danger
            span.border.border-danger
            span.border.border-danger