extends layout

block content
  .jumbotron
    .container
        h1.display-4.text-center Error
  
  .row.justify-content-center
    .col-6.text-center
      i.fa.fa-exclamation-triangle.fa-5x
      br
      br
      p= message