extends layout.pug
block content

  .jumbotron
    .container
      h1.display-4.text-center Welcome to Pizza Delivery System

  .container
    .row.justify-content-center
      .col.text-center
        if currentUser
          a.btn.btn-lg.btn-primary(href="/address") Begin Order
        else
          a.btn.btn-lg.btn-primary(href="/login" style="margin: 10px") Login
          a.btn.btn-lg.btn-primary(href="/signup" style="margin: 10px") Sign up
          br
          form(method="POST")
            form
              button.btn.btn-secondary.btn-lg(type="submit") Visitor
        //- table.table
        //-   thead
        //-     tr
        //-       th(scope="col") Ave One
        //-       th(scope="col") Ave Two
        //-       th(scope="col") Ave Three
        //-       th(scope="col") Ave Four
        //-   tbody
        //-     tr
        //-       th Street One
        //-       tb Street Two
        
