extends layout.pug
block content
  .jumbotron
    .container
      h1.display-4.text-center Login
  .container
    .row.justify-content-center
      .col-6.text-center
        form(method="POST")
          form
            .form-group
              label Account Type
              select.form-control(name="accountType")
                option(value="customer") Customer
                option(value="manager") Manager
                option(value="cook") Cook
                option(value="delivery") Delivery
            .form-group
              input.form-control(type="email" placeholder="Email" name="email")
            .form-group
              input.form-control(type="password" placeholder="Password" name="password")
            button.btn.btn-primary(type="submit") Login
