extends layout.pug
block content
  .jumbotron
    .container
        h1.display-4.text-center Order
  .row.justify-content-center
    .col-6.text-center
      form(method="POST")
        form
          .form-group
            label Pizza Size
            select.form-control(name="pizzaSize")
              option(value="Small") Small
              option(value="Medium") Medium
              option(value="Large") Large
          .form-group
            input.form-control(type="text" placeholder="Toppings (ex. Cheese, Pepperoni, Olives)" name="toppings")
          button.btn.btn-primary(type="submit") Submit Order
          nav.navbar.navbar-default.navbar-fixed-top

      .container-fluid
        .row
          .col-sm-12 
            p Pizza with the fallowing toppings
        .row
          .col-sm-4 
            p Olives
            img.img-responsive.img-rounded(src='static/img/menu/pizzas/olives.png'
             width='200', height='200')
          .col-sm-4 
            p Mozzarella Cheese
            img.img-responsive.img-rounded(src='static/img/menu/pizzas/plain.png'
             width='200', height='200')
          .col-sm-4 
            p Pepperoni
            img.img-responsive.img-rounded(src='static/img/menu/pizzas/pepperoni.png'
             width='200', height='200')