extends layout.pug
block content
  .jumbotron
    .container
        h1.display-4.text-center Order
  .row.justify-content-center
    .col-6.text-center
      form(method="POST")
        form
          .form-group
            label Pizza Size
            select.form-control(name="pizzaSize")
              option(value="Small") Small
              option(value="Medium") Medium
              option(value="Large") Large
          .form-group
            input.form-control(type="text" placeholder="Toppings (ex. Cheese, Pepperoni, Olives)" name="toppings")
          button.btn.btn-primary(type="submit") Submit Order