extends layout.pug
block content
  .container
    .row
      .col
        h3.display-4.text-center Profile
    .row
      .col
        h4.text-center Name
        p.text-center #{name}
      .col
        h4.text-center Address
        p.text-center #{address}