extends layout.pug
block content
  .jumbotron
    .container
      h1.display-4.text-center Sign up
  .container
    .row.justify-content-center
      .col-6.text-center
        form(method="POST" action='/signup')
          form
            .form-group
              input.form-control(type="email" placeholder="Email" name='email')
            .form-group
              input.form-control(type="text" placeholder="Full Name" name="name")
            label Account Type
            .form-group
              select.form-control(name="accountType")
                option(value="Customer") Customer
                option(value="Manager") Manager
                option(value="Cook") Cook
                option(value="Delivery") Delivery
            .form-group
              input.form-control(type="text" placeholder="Address" name="address")
            .form-group
              input.form-control(type="password" placeholder="Password" name="password")
            button.btn.btn-primary(type="submit") Sign up
