extends layout
block content

  .jumbotron
    .container
      h1.display-4.text-center Stores

  .container
    .row.justify-content-center
     
        each store in storeList
          .col
            .card
              h5.card-header= ("Store Name: " + store.name)
              .card-body
                //- h6.card-title= ("Manager ID: " + store.manager)
                p.card-text= ("Address: " + store.address)
                a.btn.btn-primary(href="#" name="") Join Store
            br
        //- .card(style="width: 20rem")
        //-   img.card-img-top(src="http://via.placeholder.com/286x140")
        //-   .card-body
        //-     h5.card-title Store Title
        //-     p.card-text Store Info
        //-     a.btn.btn-primary(href="#") Join Store
