extends layout
block content

  .jumbotron
    .container
      h1.display-4.text-center Stores

  .container
    .row.justify-content-center
     
        each store in storeList
          .col
            .card
              h5.card-header= ("Store Name: " + store.name)
              .card-body
                //- h6.card-title= ("Manager ID: " + store.manager)
                p.card-text= ("Address: " + store.address)
                form(method="POST")
                  form
                    .form-group
                      input.form-control(type="hidden" name='storeID' value=`${store._id}`)
                    .form-group
                      input.form-control(type="hidden" name='storeName' value=`${store.name}`)
                    button.btn.btn-primary(type="submit") Join Store
                    br
