body {
  padding-top: 3.5rem;
}

.jumbotron {
  margin-top: -50px;
  height: 150px;
}
.left{
	background-color: #ccc; 



}

.center{
	background-color: #eee; 
	/*padding: 0px;*/

}
.right{
	background-color: #ccc; 

}
